:root{
    --primary-color: #234882;
    --secondary-color: #FFD75E;
    --menu-color: #FFEDE0;
    --background-color:#F4F4F4;
    --border:#0000008c;
    --search:#fff;
    --register:#fff;
    --text-menu:#fff;
    --text-border: #000;
    --button-menu-color: #234782d8;
    --button-color:#FFD75E;
}

#content{
    position: static;
    background-color: var(--menu-color);
    display: flex;
    overflow-y: hidden;
}

body,html{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    overflow-y: hidden;
}