@import 'global.css';

main {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Garante que o main ocupe pelo menos toda a altura da viewport */
    box-sizing: border-box; /* Inclui o padding e a borda no cálculo da altura */
}

/* Menu */
.menu {
    background-color: var(--menu-color); /* Mesmo fundo que o header */
    height: 100%;
    width: 400px;
    padding: 5px 15px;
    margin: 0;
    border: 2.5px solid var(--border); /* Borda preta com 50% de transparência */
    border-top: none;
    border-left: none;
    border-bottom: none;
    box-sizing: border-box; /* Inclui o padding e a borda no cálculo da altura */
}

.menu p{
    background-color: var(--primary-color);
    color: var(--text-menu);
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid var(--border);
    margin: 5px;
    padding: 10px 0;
    text-align: center;
}

.menu p:hover{
    filter: brightness(0.8); /* Reduz o brilho em 20% para escurecer a cor */
    cursor: pointer;
}

.toggle-list {
    max-width: 600px;
    margin: 0;
    padding: 0;
    border: 1px solid var(--border);
    border-radius: 8px;
    background-color: var(--secondary-color);
    overflow: hidden;
}

.toggle-header {
    padding: 15px;
    background-color: var(--primary-color);
    color: var(--text-menu);
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid var(--border);
}

.toggle-header:hover {
    filter: brightness(0.8); /* Reduz o brilho em 20% para escurecer a cor */
}

.toggle-content {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
    color: var(--text-border);
    list-style-type: none;
    display: none; /* Esconde o conteúdo por padrão */
    border-bottom: 1px solid var(--border);
}



.toggle-content li {
    padding: 15px;
    color: var(--text-menu);
    text-shadow:
    -1px -1px 0 var(--text-border),
    1px -1px 0 var(--text-border),
    -1px 1px 0 var(--text-border),
    1px 1px 0 var(--text-border);
    border-top: 1px solid var(--border);
    background-color: var(--button-menu-color);
}


.toggle-content li:hover {
    filter: brightness(0.8); /* Reduz o brilho em 20% para escurecer a cor */
    cursor: pointer;
}

.toggle-content li:first-child {
    border-top: none;
}

.menu button{
    background-color: var(--secondary-color);
    color: var(--text-border);
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 10px 0;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

.menu button:hover{
    filter: brightness(0.8); /* Reduz o brilho em 20% para escurecer a cor */
}

/* Rankingns */
.rank{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.ranking{
    display: flex;
    flex-direction: column;
    align-items: justify;
    background-color: var(--menu-color);
    height: auto;
    max-width: 70%;
    border: 1px solid var(--border);
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
}

.ranking h2{
    margin: 0px;
    padding: 0px;
    font-size: large;
    text-align: center;
}

.ranking ol{
    margin: 0px;
    padding: 0px;
    list-style-position: inside;
    text-align: justify;

}
.ranking li{
    margin: 0px;
    padding: 0px;
    list-style-position: inside;
}

.rank button{
    background-color: var(--secondary-color);
    color: var(--text-border);
    border: 2px solid var(--border);
    border-radius: 8px;
    padding: 10px 0;
    margin-top: 2.5px;
    width: 150px;
    font-weight: bolder;
    cursor: pointer;
}

.rank button:hover{
    filter: brightness(0.8); /* Reduz o brilho em 20% para escurecer a cor */
}


/* Conteudo principal */
.main-content{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    overflow-y: auto;
}

/* Ocultando o scrollbar vertical */
.main-content::-webkit-scrollbar {
    width: 0; /* largura do scrollbar */
    height: 0; /* altura do scrollbar */
}

.main-content .post{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid var(--border);
    border-left: none;
    border-right: none;
    border-radius: 20px;
    background-color: var(--background-color);
}

.main-content .post .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;
    padding: 0px;
}

.main-content .post .header p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: large;
}

.main-content .post .header img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.main-content .post .header .tpoint{
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.main-content .post .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px;
    padding: 0px;
}

.main-content .post .content h4{
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin: 2.5px;
}

.main-content .post .content p{
    width: 100%;
    height: auto;
    margin: 5px;
}

.main-content .post .interaction{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.main-content .post .interaction .like{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    margin: 0px;
    margin-right: 0px;
    margin-bottom: 2.5px;
    margin-left: 3.5px;
    padding: 5px;
    border: 1px solid var(--border);
    border-radius: 15px;
}

.main-content .post .interaction .like img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.main-content .post .interaction .like p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: medium;
}

.main-content .post .interaction .comment{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    margin-right: 0px;
    margin-bottom: 2.5px;
    margin-left: 15px;
    padding: 5px;
    border: 1px solid var(--border);
    border-radius: 15px;
}

.main-content .post .interaction .comment img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.main-content .post .interaction .comment p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: medium;
}

.main-content .moreM{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 25px;
    padding: 10px;
}

.main-content .moreM h1{
    color: var(--text-border);
    text-shadow:
    -1px -1px 0 var(--text-border),
    1px -1px 0 var(--text-border),
    -1px 1px 0 var(--text-border),
    1px 1px 0 var(--text-border);
    border-radius: 8px;
    padding: 10px 0;
    margin-top: 2.5px;
    width: 100%;
    font-weight: bolder;
}





